@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,700&display=swap');


html, body{
    background: #0c0c0c;
    color: #EF6C00;
    overflow: hidden;
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    overscroll-behavior: none;
    touch-action: none;
}

h1.title, h2.title{
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 1;
    text-align: center;
    font-size: max(10vw, 25px);
    padding-top: 30vh;
    pointer-events: none;
}

h2.title{
    color: rgba(255, 255, 255, 0.331);
    opacity: 0;
    height: unset;
    padding-top: 5vh;
    margin: 0;
    animation-direction: reverse;
    animation-delay: 2s;
    background: rgba(0, 0, 0, 0.166)
}

.title{
    width: 80vmin;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    pointer-events: none;
    filter: invert(100%);
}


.image_grid > .image{
    --size: 30vmin;
    width: var(--size);
    height: var(--size);
    object-fit: cover;
    /* transform: scale(1.2); */
    overflow: hidden;
}

.image_grid{
    --columns: 4;
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    gap: 2vmin;
    position: absolute;
}

.title_ani{
    animation: title_animation forwards 3s ease-out
}

.image_grid_ani{
    animation: image_grid_animation forwards 5s ease-out
}

.info{
    font-size: max(2vw, 20px);
    pointer-events: none;
    position: fixed;
    z-index: 1;
    font-weight: 900;
    animation-delay: 500ms;
    opacity: 0;
    transition: opacity 500ms;
    color: #bb8961;
}

@keyframes title_animation{
    from{opacity: 1}
    50%{
        opacity: 1
    }
    to{opacity: 0}
}

@keyframes image_grid_animation{
    from{
        filter: blur(3px) grayscale(1)
    }
    to{
        filter: blur(0px) grayscale(0)
    }
}